//no-vacancy
.no-vacancy {
  padding: 0 110px 220px;
  display: flex;
  justify-content: center;
  column-gap: 20px;
}

.no-vacancy__title {
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}

.no-vacancy__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  color: #858585;

}

.no-vacancy__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.no-vacancy__label {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: #858585;
  padding-top: 24px;
}

.no-vacancy__img {
  margin-top: 80px;
  width: 692px;
  height: 798px;
}

@media screen and (max-width: 768px) {

  .no-vacancy {
    flex-direction: column;
    justify-content: center;
    row-gap: 100px;
  }


}

@media screen and (max-width: 375px) {


}
