//success-popup
.success-popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 140px;
}

.success-popup__img {
  width: 226px;
  height: 205px;
  margin-bottom: 30px;
}

.success-popup__title {
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}

.success-popup__text {
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  margin: 40px 0 80px;
  padding: 0;
}

.success-popup__btn {
  width: 285px;
  height: 60px;
  border-radius: 120px;
  background-color: #000;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  border: none;
  cursor: pointer;
}
