//team-roles
.team-roles {
  padding: 170px 110px 170px;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  row-gap: 50px;
  column-gap: 20px;
}

.team-roles__img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  margin-top: 20px;
  max-width: 900px;
}

.team-roles__img {
  width: 100%;
  object-fit: cover;
}

.team-roles__container {
  display: flex;
  position: relative;
}

.team-roles__btns-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 217px;
  height: 48px;
  margin: 40px 0 80px;
  border-radius: 12px;
  background: rgba(0, 0, 0, 0.06);
}

.team-roles__arrow-img::before {
  position: absolute;
  top: 20%;
  right: 0;
  content: url('../../images/twisted-arrow.svg');
}

.team-roles__btn {
  width: 100%;
  width: 98px;
  height: 36px;
  border: none;
  border-radius: 10px;
  margin: 6px;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.85);
}

.team-roles__btn_disabled {
  background: transparent;
}

.team-roles__btn_enabled {
  background-color: #fff;
  box-shadow: 0px 1px 4px 1px rgba(36, 36, 36, 0.07);
}

.team-roles__duties-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  gap: 30px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.team-roles__duty {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.3;
  max-width: 285px;
  height: 134px;
  background-color: #FFF;
  border-radius: 6px;
  padding: 21px;
}

@media screen and (max-width: 1400px) {
  .team-roles {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .team-roles__arrow-img::before {
    display: none;
  }
}

@media screen and (max-width: 375px) {

  .team-roles__info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .team-roles__btns-container {
    width: 335px;
  }

  .team-roles__btn {
    width: 335px;
  }

  .team-roles__duty {
    max-width: 335px;
    height: 94px;
    border-radius: 15px;
    padding: 24px 16px;
  }
}
