//vacancy-details
.vacancy-details {
  padding: 148px 110px 160px;
}

.vacancy-details__title {
  font-weight: 500;
  font-size: 62px;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}

.vacancy-details__container {
  display: flex;
  margin-top: 160px;
  column-gap: 122px;
}

.vacancy-details__subtitle {
  font-weight: 500;
  font-size: 32px;
  line-height: 1.3;
  margin: 0;
  padding: 0;
}

.vacancy-details__offer {
  max-width: 592px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.vacancy-details__offer-section:first-child {
  margin-top: 0;
}

.vacancy-details__offer-section {
  margin-top: 90px;
}

.vacancy-details__conditions-list {
  list-style: none;
  padding: 0;
}

.vacancy-details__condition-title {
  font-weight: 500;
  font-size: 36px;
  line-height: 150%;
  margin: 0;
  margin-bottom: 12px;
  padding: 0;
}

.vacancy-details__condition {
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  margin-top: 20px;
}

@media screen and (max-width: 768px) {

  .vacancy-details__title {
    font-weight: 500;
    font-size: 48px;
    line-height: 1.2;
  }

  .vacancy-details__container {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 100px;
    row-gap: 100px;
  }
}

@media screen and (max-width: 375px) {

  .vacancy-details__title {
    font-weight: 500;
    font-size: 30px;
    line-height: 1.2;
  }

  .vacancy-details__container {
    margin-top: 58px;
  }
}
