.faq {
  max-height: 1557px;
  max-width: 1440px;
  padding: 127px 121px 0 121px;
  background-color: #f7f7f8;
}

.faq__title {
  font-weight: 500;
  font-size: 48px;
  line-height: 120%;
  margin: 0 0 102px 0;
}

.faq__container {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-bottom: 100px;
}

.faq__questions {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.faq__text {
  font-weight: 400;
  font-size: 24px;
  max-width: 61%;
  line-height: 120%;
  padding-top: 6px;
}

.faq__summary::-webkit-details-marker {
  display: none;
}

.faq__summary::-moz-list-bullet {
  list-style-type: none;
}

.faq__summary::marker {
  display: none;
}

.faq__summary {
  display: flex;
  padding: 0 0 35px 0;
  cursor: pointer;
  border-bottom: 2px solid black;
  font-weight: 500;
  font-size: 40px;
  line-height: 120%;
  max-width: 1182px;
  justify-content: space-between;
  animation: sweep 0.5s ease-in-out;
}

.faq__summary:after {
  content: url(../../images/faq__plus.png);
  transition: transform 0.9s;
  width: 55px;
  height: 55px;
  padding: 0;
  margin: 0;
  transition: padding .5s ease;
}

.faq__summary:hover:after {
  content: url(../../images/faq__plus_black_little.png);
  width: 55px;
  height: 55px;
  padding: 0;
  margin: 0;
  padding: 3px 0;
  transition: padding .5s ease;
}

.faq__details[open] > .faq__summary:after {
  transform: rotateZ(-45deg);
}

.faq__details[open] .faq__summary ~ * {
  animation: sweep 0.5s ease-in-out;
}

@keyframes sweep {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.faq__details {
  display: block;
  margin-bottom: 46px;
}

