.footer {
  height: fit-content;
  max-width: 1440px;
  padding: 30px 120px 0 120px;
  background-color: #f7f7f8;
}

.footer__block {
  display: flex;
  flex-direction: row;

}

.footer__info {
  display: flex;
  flex-direction: column;
  max-width: 488px;
  height: fit-content;
  margin-right: 13.65%;
}

.footer__logo-block {
  margin: 0;
}

.footer__logo_ya {
  width: 27px;
  height: 27px;
  margin-right: 3px;
}

.footer__logo_prak {
  width: 129.2px;
  height: 26.6px;
  margin: 0;
}

.footer__number {
  font-weight: 500;
  font-size: 26px;
  line-height: 130%;
  margin: 19px 0 7px 0;
}

.footer__column-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  opacity: 0.5;
  margin: 0 0 25px 0;
}

.footer__socials {
  display: flex;
  flex-direction: row;
  margin: 6px 0 22px 0;
}

.footer_journal {
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  align-content: center;
  margin: 0 20px 0 0;
}

.footer__social-icons {
  width: 22px;
  height: 14px;
  margin-right: 14px;
  display: flex;
  align-self: center;
}

.footer__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  opacity: 0.5;
  margin: 0 0 16px 0;
}

.footer__text_extra-margin {
  margin-bottom: 21px;
}

.footer__navigation {
  display: flex;
  flex-direction: column;
  max-width: 223px;
  margin: 82px 0 0 0;
}

.footer__links {
  display: flex;
  flex-direction: column;
}

.footer__link {
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  text-decoration: none;
  margin: 0 0 8px 0;
  color: #000000;
}

.footer__link:hover {
  cursor: pointer;
}

.footer__vacancy {
  display: flex;
  flex-direction: column;
  max-width: 190px;
  margin: 82px 0 0 9.2%;
}
