.not-found {
  max-height: 1334px;
  max-width: 1440px;
  margin: 0 120px;
}

.not-found__container {
  display: flex;
  flex-direction: row;
}

.not-found__image {
  max-width: 692px;
  max-height: 428px;
}

.not-found__text-block {
  display: flex;
  flex-direction: column;
}
.not-found__title {
  font-weight: 500;
  font-size: 48px;
  line-height: 120%;
  margin: 0 0 60px 0;
}

.not-found__questions {
  font-weight: 500;
  font-size: 26px;
  line-height: 130%;
  margin: 0;
}

.not-found__error-message {
  font-weight: 400;
font-size: 18px;
line-height: 130%;
margin: 16px 0 28px 0;
}
