.videos {
  max-height: 1024px;
  max-width: 1440px;
  padding: 100px 0 100px 120px;
  background-color: #f7f7f8;
}

.videos__title {
  font-weight: 600;
  font-size: 48px;
  line-height: 120%;

}

.videos__button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  font-size: 26px;
  margin-right: 28px;
  transition: background-color 0.8s ease;
}

.videos__button:hover {
background-color: antiquewhite;
transition: background-color 0.6s ease;
cursor: pointer;
}

.videos__cards {
  display: flex;
  flex-direction: row;
  margin-top: 45px;
  width: fit-content;
}

.videos__card {
  max-width: 488px;
  max-height: 555px;
  margin-right: 12px;
  background: #ffffff;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
}

.videos__iframe {
  border-radius: 24px;
  width: 100%;
  height: 312px;
  background-size: cover;
  display: block;
  object-fit: cover;
}

.videos__author {
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  color: #262626;
  margin: 13px 16px 5px 16px;
}

.videos__job {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.5);
  margin: 0 16px 10px 16px;
}

.videos__text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: #262626;
  margin: 0 16px;
}
