.faculties {
  margin: 0 112px;
}

.faculties__title {
  font-size: 48px;
  max-width: 564px;
  margin-bottom: 99px;
}

.faculties__container {
  display: grid;
  row-gap: 16px;
  column-gap: 34px;
  grid-template-rows: auto;
  grid-template-columns: repeat(auto-fit, minmax(382px,1fr));
}

.faculty{
  width: 100%;
  max-width: 382px;
  height: 256px;
}

//карусель
/* .faculties {
  margin: 0 112px;
  display: flex;
  flex-direction: row;
}

.faculties__container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 -60px;
}

.faculty {
  margin-right: 17px;
  max-width: 290px;
}

.faculty:last-of-type {
  margin-right: 0;
}

.faculty__name {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.3;
  margin: 37px 31px 43px;
}

.faculty__description {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.3;
  margin: 0 31px 43px;
}

.faculties__arrow {
  position: relative;
  padding: 18px;
  background-color: black;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  color: white;
  text-align: center;
}

.faculties__arrow_type_left {
  top: 120px;
  left: -30px;
}

.faculties__arrow_type_right {
  top: 120px;
  right: -30px;
} */
