@import './constants.scss';

.benefits {
  margin: $side-margin;
  margin-bottom: 104px;
}

.benefits__title {
  font-weight: $title-font-weight;
  font-size: $title-font-size;
  line-height: $title-line-height;
  width: $title-width;
  margin: 0;
  margin-bottom: 56px;
}

.benefits__section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.benefit {
  position: relative;
  margin-right: 20px;
  border-radius: 16px;
  padding: 32px 28px;
  z-index: 0;
  overflow: hidden;
}

.benefit:last-child {
  margin-right: 0;
}

.benefit_size_big {
  height: 383px;
  width: 534px;
  background-color: white;
  color: #858585;
}

.benefit_size_small {
  height: 238px;
  width: 229px;
  background-color: #AACCF1;
  color: black;
}

.benefit__name {
  max-width: 356px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1.3;
  margin: 0;
  margin-bottom: 16px;
  color: black;
}

.benefit__description {
  max-width: 356px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
}

.benefit__image {
  width: 488px;
  height: 264px;
  position: absolute;
  bottom: 0;
  right: 0;
}

@media screen and (max-width: 767px) {
  .benefits {
    display: none;
  }

  .benefits__title {
    font-weight: $title-font-weight;
    font-size: $mobile-title-font-size;
    line-height: $mobile-title-line-height;
    width: $mobile-title-width;
    margin: 0 20px 40px 0;
  }

  .benefit {
    padding: 0;
    margin-right: 20px;
    border-radius: 15px;
    width: 285px;
    height: 413px;
    background-color: $card-color;
    color: #858585;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .benefit__name {
    max-width: 100%;
    font-size: 24px;
    margin: 16px 16px 12px;
  }

  .benefit__description {
    max-width: 100%;
    font-size: 16px;
    margin: 0 16px auto;
  }

  .benefit__image {
    width: 285px;
    height: 215px;
    position: static;
  }
}
