$background-color: #E5E5E5;
$side-margin: 0 112px;
$card-color:#FFFFFF;

//buttons
$button-background: #000000;
$button-text-color: #FFFFFF;

//main-page

//page titles
$title-font-weight: 500;
$title-font-size: 48px;
$title-line-height: 1.2;
$title-width: 690px;

// benefits
// font-weight: 500;
// font-size: 32px;
// line-height: 130%;

// font-weight: 400;
// font-size: 18px;
// line-height: 130%;
// /* or 23px */


// /* Basic/Grey */

// color: #858585;


