@import './constants.scss';

.faculties {
  margin: $side-margin;
  margin-bottom: 229px;
}

.faculties__title {
  font-size: $title-font-size;
  line-height: $title-line-height;
  font-weight: $title-font-weight;
  max-width: $title-width;
  margin: 0;
  margin-bottom: 56px;
}

.faculties__container {
  display: grid;
  row-gap: 40px;
  column-gap: 20px;
  grid-template-rows: auto;
  grid-template-columns: repeat(auto-fit, minmax(307px, 1fr));
}

.faculty {
  width: 100%;
  max-width: 307px;
  height: 234px;
  background-color: $card-color;
  border-radius: 15px;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.faculty__name {
  font-weight: 500;
  font-size: 32px;
  line-height: 1.3;
  margin: 0;
  margin-bottom: 32px;
}

.faculty__description {
  margin: 0;
  margin-bottom: 76px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
}

.faculty__button {
  background-color: $button-background;
  font-weight: $button-font-weight;
  font-size: $button-font-size;
  line-height: $button-line-height;
  color: $button-text-color;
  border-radius: 120px;
  padding: 18.5px 95px;
  text-align: center;
  cursor: pointer;

  &:hover {
    opacity: $button-hover-opacity;
    transition: $button-hover-transition;
  }
}
