@import './constants.scss';

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 40px 112px 91px;
}

.header__logo {
  width: 155px;
  height: 26px;
  cursor: pointer;

  &:hover {
    opacity: 0.9;
  }
}

.header__link {
  color: black;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  cursor: pointer;
  transition: $button-hover-transition;

  &:not(:last-child){
    margin-right: 60px;
  }

  &:hover {
    opacity: 0.8;
  }
}

@media screen and (max-width: 950px) {
  .header {
    margin: 36px 22px 42px;
  }

  .header__button {
    display: none;
    width: 121px;
    height: 22px;
  }

  .header__navigation{
    display: none;
  }
}
